.main-script{
    transform: translateY(100px);
}
.link-header{
    display: flex;
    justify-content: center;
}
.link-header input{
    width: 100px;
    padding: 10px 15px;
    margin: 25px .5px;
    border-radius: 10px;
    border: none;
    background-color: var(--semi-blue);
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}
.car-name{
    font-size: 27px;
    width: 220px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.car-type__img{
    text-align: center;
}
.car-type__img img{
    width: 70%;
}
.car-type span{
    display: block;
    text-align: center;
    margin: 10px 10px;
}
.car-type input{
    padding: 10px 70px;
    margin: 15px 0;
    margin-bottom: 50px;
    background-color: var(--semi-blue);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}
.car-type__intro{
    text-align: center;
}