#main-screen{
    margin: 0px 15px;
    height: 500vh;
}
.homepage-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
    top: 0;
    position: fixed;
}
.homepage-bar__logo{
    display: flex;
    align-items: center;
}
.homepage-bar__logo img{
    width: 80px;
    margin-right: 10px;
}
.homepage-bar__title{
    color: var(--blue);
    font-size: 28px;
    font-weight: 600;
}
.homepage-bar__menu{
    position: absolute;
    right: 29px;
}
.sliding{
    position: absolute;
    top: 60px;
}
.sliding input{
    display: none;
}
.slidewrap{
    max-width: 517px;
    margin: 0 15px;
    overflow: hidden;
}
.slidelist{
    white-space: nowrap;
    font-size: 0;
}
.slidelist>li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.slidelist>li>a{
    display: block;
    position: relative;
}
.slidelist>li>a img{
    width: 100%;
}
.slidelist label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}
.slidelist .left{
    left: 30px;
    background-image: url('C:/Users/W22883/Documents/실습/GN/GN-electronic_car/img/chevron-left') center center/ 100% no-repeat;
}
.slidelist .right{
    right: 30px;
    background-image: url('C:/Users/W22883/Documents/실습/GN/GN-electronic_car/img/chevron-right') center center/ 100% no-repeat;
}
#slide01:checked~ .slidewrap .slidelist > li{
    transform: translateX(0%);
}
#slide02:checked~ .slidewrap .slidelist > li{
    transform: translateX(-100%);
}
#slide03:checked~ .slidewrap .slidelist > li{
    transform: translateX(-200%);
}