.intro__car{
    transform: translateY(70px);
}
.intro__car-type{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.intro__car-img{
    text-align: center;
    margin-bottom: 30px;
}
.intro__car .intro__car-text ul li{
    padding: 10px 10px;
}
.intro__buy{
    margin-top: 50px;
    text-align: center;
}
.intro__buy input{
    padding: 10px 50px;
    border: none;
    border-radius: 30px;
    background-color: var(--semi-blue);
    font-weight: 600;
}